.detalleProducto{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
width: 35%;
}

h2{
    font-weight: bold;
    font-style: italic;
}

p{
    font-size: x-large;
    font-style: oblique;
}