.row {
  width: 98%;
  margin: auto;
  margin-top: 10px;
}

.row button {
  margin: auto;
  max-width: 200px;
}

.checkout-card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.checkout-card img {
  width: 90px;
}

#total {
  margin-top: 20px;
}